body 
{
    background-image:url("../back.jpg");
    background-size: 100% ,100%;
}

div 
{
    display:flex;
    justify-content: center;
    
}
button
{
    margin-top: 30vh;
    border-radius: 30px;
    perspective: 1000px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    min-width: 40vb;
    min-height: 60vh;
    max-width: 40vb;
    max-height: 60vh;
}
button:hover
{
    border: 5px solid rgb(255, 0, 0);
    transform: rotateY(180deg);
}
img
{
    border-radius: 35px;
    min-width: 38vb;
    min-height: 58vh;
    max-width: 38vb;
    max-height: 58vh;
}
.joke
{
    margin-top: 45vh;
    color:rgb(255, 255, 255);
    text-shadow: 2px 1px red;
    max-width: 38vb;
}